@import url('https://fonts.googleapis.com/css?family=Oswald');

$blue: #0047B4;
$light-gray: #B9BDD7;

body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: $blue;
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}

p {
  &.about {
    padding: 32px;
    max-width: 600px;
    margin: 0 auto;
  }
}

.scroll-container {
  padding: 0;
  margin: 0;
  overflow: visible;
  height: calc(100% - 80px);
}

.text-center {
  text-align: center;
}

header {
  height: 48px;
  width: 996px;
  background-color: $blue;
  color: white;
  margin: 0 auto;
  padding: 4px 12px;
  h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .horizontal-slider {
    display: inline-block;
    margin: -14px 0 0 92px;
    vertical-align: middle;
    .slider-label {
      width: 53px;
    }
  }
}

.scroll-contents {
  width: 960px;
  margin: 0 auto 40px;
  padding-left: 20px;
  /* Pads the bottom so the controls can scroll above the keyboard. */
  .scroll-footer {
    height: 280px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 134px;
  padding: 1px 0 1px 1px;
  width: 1020px;
  background-color: $blue;
  color: white;
  left: calc(50% - 510px);
  /*
    This Fixes a bad issue in Chrome when scrolling.
    The fixed position keyboard  has to be re-rendered completely on scroll
    which causes notice-able stuttering in audio playback when ARP is on.
  */
  transform: translate3d(0, 0, 0);
  .footer-info {
    padding: 4px;
    text-align: right;
  }
  a, p {
    font-size: 12px;
    display: inline-block;
    margin: 0 12px 0 0;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

.share-button-row {
  display: inline-block;
  .share-button-container {
    display: inline-block;
  }
  .share-button {
    display: inline-block;
    border: 1px solid $blue;
    border-radius: 24px;
        vertical-align: middle;
    &:hover {
      cursor: pointer;
      border: 1px solid white;
    }
  }
  .share-count {
    display: inline-block;
    vertical-align: top;
    padding: 5px 8px 0 4px;
    font-size: 12px;
  }
}

h1 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.oscillator {
  display: inline-block;
  width: 300px;
  margin: 0 20px 0 0;
}

.box {
  border: 4px solid $blue;
  box-sizing: border-box;
}

.module {
  display:inline-block;
  width: 300px;
  margin-right: 20px;
}

.toggle-button {
  width: 34px;
  height: 34px;
  display: inline-block;
  color: $blue;
  font-size: 16px;
  line-height: 34px;
  vertical-align: middle;
  text-align: center;

  &:hover, &.selected {
    cursor: pointer;
    color: #fff;
    background-color: $blue;
  }
  &.algorithm-button {
    margin-left: 23px;
  }

  $colors-list: 'A7CA33' 'FF7403' '00BBBE';

  @for $i from 1 through length($colors-list) {
    $current-color: nth($colors-list, $i);
    $y: (-7 + $i * 46) + px;

    &.plus.color-#{$current-color} {
      background: url('../images/operator-btns.png');
      background-position: 411px $y;
      &:hover, &.selected {
        background-position: 147px $y;
      }
    }
    &.minus.color-#{$current-color} {
      background: url('../images/operator-btns.png');
      background-position: 288px $y;
      &:hover, &.selected {
        background-position: 39px $y;
      }
    }
    &.divide.color-#{$current-color} {
      background: url('../images/operator-btns.png');
      background-position: 349px $y;
      &:hover, &.selected {
        background-position: 93px $y;
      }
    }
    &.multiply.color-#{$current-color} {
      background: url('../images/operator-btns.png');
      background-position: 471px $y;
      &:hover, &.selected {
        background-position: 201px $y;
      }
    }
  }
}

.shape-button {
  width: 52px;
  height: 52px;
  background: url('../images/lfo-shape-btns.png');
  &.random {
    background-position: 74px -66px;
    &:hover, &.selected {
      background-position: 207px -67px;
    }
  }
  &.triangle {
    background-position: 138px -1px;
    &:hover, &.selected {
      background-position: -1px -1px;
    }
  }
  &.sawtooth {
    background-position: 72px -1px;
    &:hover, &.selected {
      background-position: -67px -1px;
    }
  }
  &.square {
    background-position: 137px 57px;
    &:hover, &.selected {
      background-position: -1px 53px;
    }
  }
}

.algorithm-switch {
  margin: 20px 0;
}
.combine-prompt {
  font-size: 16px;
  display: inline-block;
  margin-right: 18px;
}

/* sliders */
.oscillator-sliders {
  margin: 16px 0 0 0;
}
.horizontal-slider {
  margin: 6px 0 0 0;
  .slider-label {
    display: inline-block;
    width: 80px;
  }
  .slider-value {
    display: inline-block;
    text-align: right;
    width: 34px;
  }
  input {
    display: inline-block;
    width: 180px;
  }
}

.vertical-slider {
  display: inline-block;
  width: 26px;
  text-align: center;
  padding: 10px;
}

/* Amp tightly grouped sliders. */
.asdr-sliders {
  display: inline-block;
  margin-left: 38px;
  .vertical-slider {
    width: 10px;
    .vertical-slider-container {
      margin-left: -7px;
    }
  }
}

// LFOs
.lfo {
  .shape-switch{
    width: 142px;
    display: inline-block;
    vertical-align: top;
    margin: 25px 16px;
    .wave-label {
      text-align: center;
    }
  }
  .sliders {
    display: inline-block;
  }
  .toggle-button {
    margin: 8px;
  }
  .Select-arrow-zone {
    padding-right: 15px;
  }
}

/* Arpeggiator Buttons */
.arpeggiator-switch {
  width: 34px;
  display: inline-block;
  margin-left: 32px;
  vertical-align: bottom;
  .arp-switch-label {
    padding-bottom: 28px;
    text-align: center;
  }
  .toggle-button:first-child{
    margin-bottom: 12px;
  }
}

// Modals
.ReactModal__Content {
  .modal-close-button {
    float: right;
    padding: 10px;
    font-size: 16px;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    text-align: center;
    max-width: 500px;
    margin: 12px auto;
    &.inverted {
      border: 3px solid $blue;
      word-wrap: break-word;
      padding: 32px;
      max-width: 436px;
    }
  }
}
