@import url('https://fonts.googleapis.com/css?family=Oswald');

$blue: #0047B4;
$light-gray: #B9BDD7;

body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: $blue;
  margin: 0;
  padding: 0;
}


.scroll-container {
  padding: 0;
  margin: 0;
  overflow: auto;
  height: calc(100% - 80px);
}

header {
  height: 48px;
  width: 996px;
  background-color: $blue;
  color: white;
  margin: 0 auto;
  padding: 4px 12px;
  h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .horizontal-slider {
    display: inline-block;
    margin: -14px 0 0 167px;
    vertical-align: middle;
    .slider-label {
      width: 53px;
    }
  }
}

.scroll-contents {
  width: 960px;
  margin: 0 auto 40px;
  padding-left: 20px;
  /* Pads the bottom so the controls can scroll above the keyboard. */
  .scroll-footer {
    height: 80px;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      /* Chrome */
      height: 20px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  padding: 1px 0 1px 1px;
  width: 1020px;
  background-color: #353744;
  color: white;
  left: calc(50% - 510px);
}


h1 {
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.oscillator {
  display: inline-block;
  width: 300px;
  margin: 0 20px 0 0;
}

.box {
  border: 4px solid $blue;
  box-sizing: border-box;
}

.module {
  display:inline-block;
  width: 300px;
  margin-right: 20px;
}

.wavetable-box {
  display: inline-block;
  width: 140px;
  &:first-child {
    margin: 0 20px 0 0;
  }
  select {
    width: 136px;
    margin: 2px 2px 0;
  }
}

.waveline-canvas {
  margin: 12px 0 0 12px;
}

.toggle-button {
  width: 34px;
  height: 34px;
  display: inline-block;
  color: $blue;
  text-align: center;
  font-size: 20px;
  &:hover, &.selected {
    color: #fff;
    background-color: $blue;
    cursor: pointer;
    &.color-00BBBE {
      color: #fff;
      background-color: #00BBBE;
    }
    &.color-FF7403 {
      color: #fff;
      background-color: #FF7403;
    }
    &.color-A7CA33 {
      color: #fff;
      background-color: #A7CA33;
    }
  }
  &.algorithm-button {
    margin-left: 23px;
  }
  &.color-00BBBE {
    color: #00BBBE;
  }
  &.color-FF7403 {
    color: #FF7403;
  }
  &.color-A7CA33 {
    color: #A7CA33;
  }
}

.algorithm-switch {
  margin: 20px 0;
}
.combine-prompt {
  font-size: 16px;
  display: inline-block;
  margin-right: 18px;
}

/* sliders */
.oscillator-sliders {
  margin: 16px 0 0 0;
}
.horizontal-slider {
  margin: 6px 0 0 0;
  .slider-label {
    display: inline-block;
    width: 80px;
  }
  .slider-value {
    display: inline-block;
    text-align: right;
    width: 34px;
  }
  input {
    display: inline-block;
    width: 180px;
  }
}

.vertical-slider {
  display: inline-block;
  width: 26px;
  text-align: center;
  padding: 10px;
}

/* Amp tightly grouped sliders. */
.asdr-sliders {
  display: inline-block;
  margin-left: 38px;
  .vertical-slider {
    width: 10px;
  }
}

// LFOs
.lfo {
  .destination-selector {
    width: calc(100% - 24px);
    padding: 12px;
    border-top: 4px solid $blue;
    .label{
      display: inline-block;
      vertical-align: initial;
    }
    select {
      display: inline-block;
      width: 65%;
      margin-left: 12px;
      vertical-align: middle;
    }
  }
  .shape-switch{
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 25px 32px;
    .wave-label {
      text-align: center;
    }
  }
  .sliders {
    display: inline-block;
  }
  .toggle-button {
    margin: 8px;
  }
}
