$blue: #0047B4;
$light-gray: #B9BDD7;

.keyboard-container {
  background: #fff;
  margin: 0;
  width: 1020px;
  -webkit-box-shadow: 0px -7px 18px -8px rgba(0,0,0,.8);
  -moz-box-shadow: 0px -7px 18px -8px rgba(0,0,0,.8);
  box-shadow: 0px -7px 18px -8px rgba(0,0,0,.8);
}
.keyboard {
  .white-keys {
    display: flex;
    .key {
      flex: 1 0 auto;
      background: #fff;
      width: 14px;
      height: 100px;
      border-right: 1px solid #000;
      border-radius: 0px 0px 2px 2px;
    }
  }
  .black-keys {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0px;
    height: 1px;

    .key {
      -webkit-box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.25);
      -moz-box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.25);
      box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.25);
      flex: 1 0 auto;
      background: #353744;
      width: 14px;
      height: 74px;
      border-radius: 0;
    }
    .spacer {
      background: red;
      visibility: hidden;
      width: 16px;
      height: 1px;
    }
  }

  .key {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &[data-on='true'] {
      background-color: $blue !important;
    }
    &:hover {
      cursor: pointer
    }
  }
}
