/**
 * React-Select css with overrides done inline.
*/
$blue: #0047B4;


/* Presets */
.preset-list-container,
.midi-input-container {
  display: inline-block;
  width: 200px;
  float: right;
  border: 3px solid $blue;
  margin-top: 2px;
  margin-left: 12px;

}

.Select.preset-list,
.Select.midi-input-list {
  .Select-value-label {
    color: $blue;
  }

  .Select-arrow {
    border-color: $blue transparent transparent;
  }
}

.Select-placeholder {
  &:hover {
    cursor: pointer;
  }
}

/* Wave Files */
.wavetable-box {
  display: inline-block;
  width: 140px;

  &:first-child {
    margin: 0 20px 0 0;
  }

  position: relative;
}


.wave-file-loader-container {
  position: relative;
  top: -8px;
  width: 140px;

  .menu {
    color: #0047B4
  }


}

.wave-file-loader {

  &:hover {
    cursor: pointer;
  }

  .input {

    outline: none;
  }



  $colors-list: 'A7CA33' 'FF7403' '00BBBE';

  @for $i from 1 through length($colors-list) {
    $current-color: nth($colors-list, $i);
    $color: '#'+$current-color;


    &.color-#{$current-color} {
      border-left: 4px solid #{$color};
      border-right: 4px solid #{$color};
      border-bottom: 4px solid #{$color};
      border-top: none;



      .indicators-container {
        svg {
          color: #{$color};
        }

        span {
          background-color: #{$color};
        }
      }

      &:focus,
      &:hover {
        outline: none;
        border-left: 4px solid #{$color};
        border-right: 4px solid #{$color};
        border-bottom: 4px solid #{$color};
        border-top: none;
        // background-color: #{$color};
        // color: #fff;
      }

      .Select-option {
        color: #{$color};
      }

      .single-value {
        color: #{$color};
      }

      .Select-arrow {
        border-color: #{$color} transparent transparent;
      }
    }
  }
}

/* LFO Destination */
.lfo-destination {
  border: none;
  position: relative;
  top: -8px;
  border-left: 4px solid $blue;
  border-right: 4px solid $blue;
  border-bottom: 4px solid $blue;

  .control {
    border: none;
  }
}
